.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  gap: 10px;
  scale: 0.7;
}

.headerText {
  font-family: "Zen Dots", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  line-height: 1.2;
}

.subtitleText {
  font-family: "Jura", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #d2d2d2;
  text-align: center;
  max-width: 1200px;
  line-height: 1.4;
  opacity: 0.9;
  margin-top: -4%;
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 30px 40px;
    align-items: center;
  }

  .headerText {
    font-size: 32px;
    text-align: center;
  }
  
  .subtitleText {
    font-size: 18px;
    max-width: 90%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .headerContainer {
    padding: 20px 20px;
    margin: 15px 0;
    gap: 8px;
  }

  .headerText {
    font-size: 24px;
  }
  
  .subtitleText {
    font-size: 16px;
    max-width: 100%;
  }
}