.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  min-height: 100vh;
  
}
.container2 {
  display: flex;
  flex-direction: column;
    align-items: center;

  width: 80%;
  
}
.titleSection{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 1px;
}

.descriptionSection {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
  
}

.descriptionSection h2 {
  margin-bottom: 10px;
  color: #ffffff;
  
  
}

.description {
  text-align: left;
  color: #ffffff;
  font-family: 'jura';
  font-size: 18px;
}

.detailsSection {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  
}

.detailsSection h2 {
  margin-bottom: 10px;
  color: #ffffff;
}

.details {
  color: #ffffff;
}

.details p {
  margin-bottom: 8px;
}
